/* Full Page Styling */
.about-me-wrapper {
    background-color: var(--primary-white);
    min-height: 100vh;
}

/* Two-Column Layout */
.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
}

/* Left Column */
.left-column {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--primary-dark);
}

.left-column h1 {
    text-align: center;
    color: var(--primary-dark);
    padding-bottom: 25px;
}

.left-column p {
    text-align: center;
    color: var(--primary-dark);
}

/* Right Column - Image */
.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column img {
    max-width: 100%;
    height: auto;
    max-height: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.social-container {
    justify-content:space-evenly;
    text-align: center;
    font-size: 2.5rem;
}

.social-container a {
    color: var(--primary-dark);
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column; /* Stack columns vertically */
        text-align: center;
    }

    .left-column {
        width: 100%;
    }

    .right-column img {
        max-width: 80%;
    }
}
